{% extends "layout.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <br><br><br>-->
           <h4 style="text-align: left">about</h4>
</head>
<body>

</body>
</html>
{% endblock content %}