{% extends "layout.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
  <form method="post" enctype="multipart/form-data" name="form" id="form">
    <legend align="center" id="general_options"><h3>General Options</h3></legend>

    <div class="form-group row">
      <label class="col-sm-2" for="refset">Reference set</label>
        <div class="col-sm-10">
            <select name="refset" id="refset" class="form-control">
                <option selected="selected" value="actinobacteria">Actinobacteria</option>
                <option value="alphaproteobacteria">Alpha-Proteobacteria</option>
                <option value="betaproteobacteria">Beta-Proteobacteria</option>
                <option value="delta_epsilon-proteobacteria">Delta_Epsilon-Proteobacteria</option>
                <option value="gammaproteobacteria">Gamma-Proteobacteria</option>
                <option value="firmicutes">Firmicutes</option>
                <option value="cyanobacteria">Cyanobacteria</option>
                <option value="fusobacteria">Fusobacteria</option>
                <option value="bacteroidetes">Bacteroidetes</option>
                <option value="chlamydiae">Chlamydiae</option>
                <option value="tenericutes">Tenericutes</option>
                <option value="spirochaetes">Spirochaetes</option>
                <option value="deinococcus-thermus">Deinococcus-Thermus</option>
                <option value="verrucomicrobia">Verrucomicrobia</option>
                <option value="group1">Group1 [Aquificae, Calditrichaeota, Chrysiogenetes, Coprothermobacterota, Deferribactes]</option>
                <option value="group2">Group2 [Armatimonadetes, Chloroflexi, Dictyoglomi, Synergistetes, Thermotogae]</option>
                <option value="group3">Group3 [Acidobacteria, Balneolaeota, Chlorobi, Elusimicrobia, Fibrobacteres, Gemmatimonadetes, Ignavibacteriae, Lentisphaerae, Nitrospirae, Planctomycetes, Rhodothermaeota, Thermodesulfobacteria]</option>
                <option value="unknown">Unknown (This option deactivates phylum-specific housekeeping gene search)</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2" for="read_source">Read Source</label>
        <div class="col-sm-2">
            <select name="read source" id="read_source" class="form-control">
                <option selected="selected" value="sra">NCBI SRA</option>
                <option value="ena">EBI ENA</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2" for="library_layout">Library Layout </label>
        <div class="col-sm-2">
            <select name="library layout" id="library_layout" class="form-control">
                <option selected="selected" value="sra">Single</option>
                <option value="ena">Paired</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
      <label for="genome_name" class="col-sm-2 col-form-label">Organism Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="genome name" id="genome_name" placeholder="e.g. devinobacteria muhittiniensis">
      </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-md-2" for="ncbiacc1"><abbr title="National Center for Biotechnology">NCBI</abbr> Accession Number</label>
        <div class="col-md-8">
            <input type="text" class="form-control" name="ncbiacc1" id="ncbiacc1" placeholder="Enter an Assembly accession number e.g. GCF_900476075.1" onchange="toggleuploadbtn('ncbibtn',this.value)" onkeyup="toggleuploadbtn('ncbibtn',this.value)"> <!-- hitting enter after entering accession nr automatically submits -->
        </div>
        <div class="col-md-2">
<!--<button type="button" class="btn btn-primary" id="ncbibtn" onclick="uploadSequence('ncbi')" disabled="true"><span class="glyphicon glyphicon-upload"></span> Upload</button>-->

            <button type="button" class="btn btn-primary" id="ncbibtn"><span class="glyphicon glyphicon-upload"></span> Upload</button>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-md-2" for="seqfile1">Sequence</label>
        <div class="col-md-8">
<!--<input type="file" class="form-control" id="seqfile1" onkeyup="toggleuploadbtn('seqbtn',this.value);limitseqs(this.id)" onchange="toggleuploadbtn('seqbtn',this.value);limitseqs(this.id)" name="seqfile1" multiple>&lt;!&ndash; Upload alerts  &ndash;&gt;-->
            <input type="file" class="form-control" id="seqfile1">
                <div class="alert alert-success hidden" id="uploadsuccess" style="display: none">Upload successful</div>
                <div class="alert alert-danger hidden" id="uploadwarning" style="display: none"><strong>Error:</strong> Upload failed</div>
                <div class="alert alert-danger hidden" id="errorwarning" style="display: none"><strong>Error:</strong> Invalid accession number or sequence file</div>
        </div>
        <div class="col-md-2">
<!--<button type="button" class="btn btn-primary" id="seqbtn" onclick="uploadSequence('seqfile')" disabled="true"><span class="glyphicon glyphicon-upload"></span> Upload</button>-->
            <button type="button" class="btn btn-primary" id="seqbtn"><span class="glyphicon glyphicon-upload"></span> Upload</button>
        </div>
    </div>
      <legend align="center" id="specific_options"><h3>Experiment Options</h3></legend>
    <button type="button" name="new_experiment" class="btn btn-success btn-xs new_experiment"><span class="glyphicon glyphicon-plus"></span> New Experiment</button>
    <div id="tables" name="tables">
        <div class="table-repsonsive">
          <table class="table" id="item_table1">
            <thead>
              <tr>
                <th>Condition 1</th>
                <th>Condition 2</th>
                <th><button type="button" name="add_replicate" class="btn btn-success btn-xs add_replicate"> Add Replicate</button></th>
              </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" id="condition_id1_1" name="condition_name1_1" class="form-control condition_name1_1" placeholder="Condition, e.g. Control"> </td>
                <td><input type="text" id="condition_id1_2" name="condition_name1_2" class="form-control condition_name1_2" placeholder="Condition, e.g. Treated"> </td>
            </tr>
            <tr>
                <td><input type="text" id="replicate1_1" name="replicate1_1" class="form-control replicate1_1" placeholder="SRA/ENA run accession, e.g. SRR9328883"> </td>
                <td><input type="text" id="replicate1_2" name="replicate1_2" class="form-control replicate1_2" placeholder="SRA/ENA run accession, e.g. ERR2313908"> </td>
            </tr>
            <tr>
                <td><input type="text" id="replicate1_3" name="replicate1_3" class="form-control replicate1_3" placeholder="SRA/ENA run accession, e.g. SRR9328883"> </td>
                <td><input type="text" id="replicate1_4" name="replicate1_4" class="form-control replicate1_4" placeholder="SRA/ENA run accession, e.g. ERR2313908"> </td>

            </tr>
            </tbody>
          </table>
        </div>
    </div>

    <div class="row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary" style="width:300px;" id="submitjob">Submit Job &raquo;</button>
<!--        <button type="button" class="btn btn-primary" style="width:300px; display:none;" disabled="true" id="fakebtn">Uploading... &raquo;</button>-->
      </div>
    </div>

  </form>
</body>
</html>
<script>
    $(document).ready(function ()
    {
        var table_count = 1;
        var rep_count = 4;
        var str_table_count = table_count.toString();
        console.log(str_table_count);
        $(document).on('click', '.new_experiment', function ()
        {
            var html = '';
            console.log("asdasd");
            table_count += 1;
            rep_count += 1;
            rep_count2 = rep_count+1;
            var str_rep_count = rep_count.toString();
            var str_rep_count2 = rep_count2.toString();
            var str_table_count = table_count.toString();
            console.log(str_table_count);
            html +=
                '<div class="table-repsonsive">' +
                '<table class="table" id="item_table"' + str_table_count + '>' +
                '<thead> <tr> <th>Condition 1</th> <th>Condition 2</th>'+
                '<th><button type="button" name="add_replicate" class="btn btn-success btn-xs add_replicate">Add Replicate</button></th>'+
                '</tr> </thead> <tbody>' + '<tr>'+
                '<td><input type="text" id="condition_id' + str_table_count + '_1" name="condition_name' + str_table_count + '_1" class="form-control condition_name' + str_table_count + '_1" placeholder="Condition Name1"> </td>' +
                '<td><input type="text" id="condition_id' + str_table_count + '_2" name="condition_name' + str_table_count + '_2" class="form-control condition_name' + str_table_count + '_2" placeholder="Condition Name2"> </td>' ;
            if (table_count >1)
            {
            html += '<th><button type="button" name="remove_experiment" style="background-color: red;border-color: red" class="btn btn-success btn-xs remove_experiment"> Remove Experiment</button></th>'+
                '</tr>';
            }
            else
            {
            html += '</tr>';
            }
            html +=
                '</tr>'+
                '<tr>'+
                '<td><input type="text" id="replicate' + str_table_count + '_' + str_rep_count + '_1" name="replicate' + str_table_count + '_' + str_rep_count + '" class="form-control replicate' + str_table_count + '_' + str_rep_count + '" placeholder="SRA/ENA run accession, e.g. SRR9328883"> </td>' +
                '<td><input type="text" id="replicate' + str_table_count + '_' + str_rep_count + '_2" name="replicate' + str_table_count + '_' + str_rep_count + '" class="form-control replicate' + str_table_count + '_' + str_rep_count + '" placeholder="SRA/ENA run accession, e.g. ERR2313908"> </td>' +
                '</tr>'+
                    '<tr>'+
                '<td><input type="text" id="replicate' + str_table_count + '_' + str_rep_count2 + '_2" name="replicate' + str_table_count + '_' + str_rep_count2 + '" class="form-control replicate' + str_table_count + '_' + str_rep_count2 + '" placeholder="SRA/ENA run accession, e.g. SRR9328883"> </td>' +
                '<td><input type="text" id="replicate' + str_table_count + '_' + str_rep_count2 + '_2" name="replicate' + str_table_count + '_' + str_rep_count2 + '" class="form-control replicate' + str_table_count + '_' + str_rep_count2 + '" placeholder="SRA/ENA run accession, e.g. ERR2313908"> </td>' +
                '</tr>' + '</tbody> </table> </div>';
            // '</tr>';

            $(tables).append(html)
            // document.getElementById('tables').innerHTML += html;
        });

        $(document).on('click', '.add_replicate', function ()
        {
            rep_count +=1;
            var str_rep_count = rep_count.toString();
            var currenttable = $(this).parent().closest('table');
            html ='<tr>'+
                '<td><input type="text" id="replicate' + str_table_count + '_' + str_rep_count + '_1" name="replicate' + str_rep_count + '_1" class="form-control replicate' + str_rep_count + '_1" placeholder="SRA/ENA run accession, e.g. SRR9328883"> </td>' +
                '<td><input type="text" id="replicate' + str_table_count + '_' + str_rep_count + '_2" name="replicate' + str_rep_count + '_2" class="form-control replicate' + str_rep_count + '_2" placeholder="SRA/ENA run accession, e.g. ERR2313908"> </td>' +
                '<th><button type="button" name="remove_replicate" style="background-color:red;border-color:red" class="btn btn-success btn-xs remove_replicate"> Remove Replicate</button></th>'+
                '</tr>';

            $(currenttable).append(html);
            // html +=
            //     '<div class="table-repsonsive">' +
            //     '<table class="table" id="item_table"' + str_table_count + '>' +
            //     '<thead> <tr> <th>Condition 1</th> <th>Condition 2</th>'+
            //     '<th><button type="button" name="add_replicate" class="btn btn-success btn-xs add_replicate">Add Replicate</button></th>'+
            //     '</tr> </thead> <tbody>' + '<tr>'+
            //     '<td><input type="text" id="condition_id' + str_table_count + '_1" name="condition_name' + str_table_count + '_1" class="form-control condition_name' + str_table_count + '_1" placeholder="Condition Name1"> </td>' +
            //     '<td><input type="text" id="condition_id' + str_table_count + '_2" name="condition_name' + str_table_count + '_2" class="form-control condition_name' + str_table_count + '_2" placeholder="Condition Name2"> </td>' +
            //     '<th><button type="button" name="remove_experiment" style="background-color: red;border-color: red" class="btn btn-success btn-xs remove_experiment"> Remove Experiment</button></th>'+
            //     '</tr>' + '</tbody> </table> </div>';
            //
        });
        $(document).on('click', '.remove_experiment', function ()
        {
            rep_count -=1;
            table_count -= 1;
            var currenttable = $(this).parent().closest('table');
            $(currenttable).remove()
        });
        $(document).on('click', '.remove_replicate', function ()
        {
            rep_count -=1;
            // table_count -= 1;
            var currentrow = $(this).closest('tr');
            $(currentrow).remove()
        });
    });
</script>
{% endblock content %}