{% extends "layout.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!--    <script src="/transcriptomics/static/js/analysispage.js?v=2.1"></script>-->
    <title>Analyze</title>
    <link rel="stylesheet" href="/static/css/comment.css" />
</head>
<body>
    <div class="serverstats" style="padding-left: 15px;width: 100%;margin: 0px;background: black">
        <ul class="list-inline" style="display: flex; list-style: none;width: 50%">
            <li class="statuslabel" style="color: white">Server Status &raquo;&nbsp;&nbsp;</li>
            <li style="color: white">Server: <span id="server-running">Active&nbsp;&nbsp;</span></li>
            <li style="color: white">Queue: <span id="server-queue">{{queued}}&nbsp;&nbsp;</span></li>
            <li style="color: white">Done: <span id="server-done">{{finished}}</span></li>
        </ul>
    </div>
    <legend align="center" id="general_options"><h3>General Options</h3></legend>
    <button class="btn btn-info load_example"  name="load_example" id = "load_example">Load Example</button>
    <button class="btn btn-info load_example_results"  name="load_example_results" id = "load_example_results">View Example Results</button>

  <form method="post" enctype="multipart/form-data" name="form" id="form">
    <input type='hidden' name='test' id='test'>
    <input type='hidden' name='search_type' id='search_type'>
      <br>
    <div class="form-group row">
      <label class="col-sm-2" for="refset">Reference set</label>
        <div class="col-sm-10">
            <select name="refset" id="refset" class="form-control">
                <option selected="selected" value="actinobacteria">Actinobacteria</option>
                <option value="alphaproteobacteria">Alpha-Proteobacteria</option>
                <option value="betaproteobacteria">Beta-Proteobacteria</option>
                <option value="delta_epsilon-proteobacteria">Delta_Epsilon-Proteobacteria</option>
                <option value="gammaproteobacteria">Gamma-Proteobacteria</option>
                <option value="firmicutes">Firmicutes</option>
                <option value="cyanobacteria">Cyanobacteria</option>
                <option value="fusobacteria">Fusobacteria</option>
                <option value="bacteroidetes">Bacteroidetes</option>
                <option value="chlamydiae">Chlamydiae</option>
                <option value="tenericutes">Tenericutes</option>
                <option value="spirochaetes">Spirochaetes</option>
                <option value="deinococcus-thermus">Deinococcus-Thermus</option>
                <option value="verrucomicrobia">Verrucomicrobia</option>
                <option value="group1">Group1 [Aquificae, Calditrichaeota, Chrysiogenetes, Coprothermobacterota, Deferribactes]</option>
                <option value="group2">Group2 [Armatimonadetes, Chloroflexi, Dictyoglomi, Synergistetes, Thermotogae]</option>
                <option value="group3">Group3 [Acidobacteria, Balneolaeota, Chlorobi, Elusimicrobia, Fibrobacteres, Gemmatimonadetes, Ignavibacteriae, Lentisphaerae, Nitrospirae, Planctomycetes, Rhodothermaeota, Thermodesulfobacteria]</option>
                <option value="unknown">Unknown (This option deactivates phylum-specific housekeeping gene search)</option>
            </select>
        </div>
    </div>



    <div class="form-group row">
      <label class="col-sm-2" for="library_layout">Library Layout </label>
        <div class="col-sm-2">
            <select name="library layout" id="library_layout" class="form-control">
                <option selected="selected" value="s">Single</option>
                <option value="pe">Paired End</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
      <label for="genome_name" class="col-sm-2 col-form-label">Organism Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="genome name" id="genome_name" placeholder="e.g. devinobacteria muhittiniensis">
      </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-md-2" for="ncbiacc1"><abbr title="National Center for Biotechnology">NCBI</abbr> Accession Number</label>
        <div class="col-md-8">
            <input type="text" class="form-control" name="ncbiacc1" id="ncbiacc1" placeholder="Enter an Assembly accession number e.g. GCF_900476075.1" onchange="toggleuploadbtn('ncbibtn',this.value)" onkeyup="toggleuploadbtn('ncbibtn',this.value)"> <!-- hitting enter after entering accession nr automatically submits -->
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-md-2" for="seqfile1">Sequence</label>
        <div class="col-md-8">
            <input type="file" class="form-control" id="seqfile1" name="file">
                <div class="alert alert-success hidden" id="uploadsuccess" style="display: none">Upload successful</div>
                <div class="alert alert-danger hidden" id="uploadwarning" style="display: none"><strong>Error:</strong> Upload failed</div>
                <div class="alert alert-danger hidden" id="errorwarning" style="display: none"><strong>Error:</strong> Invalid accession number or sequence file</div>
        </div>
    </div>
        <legend align="left" id="warnn"><h6> Warning: Please only use this option if no accession number available or the genome is not annotated in NCBI </h6></legend>
      <br>

    <div class="form-group row">
        <label class="control-label col-md-2 CellWithComment" for="defined_clusters">Defined clusters<span class="CellComment">File of user generated clusters, click <a href="/static/user_cluster_example" download>here</a> to download an example</span></label>
        <div class="col-md-8">
            <input type="file" class="form-control" id="defined_clusters" name="defined_clusters">
                <div class="alert alert-success hidden" id="uploadsuccesssra_file" style="display: none">Upload successful</div>
                <div class="alert alert-danger hidden" id="uploadwarningsra_file" style="display: none"><strong>Error:</strong> Upload failed</div>
                <div class="alert alert-danger hidden" id="errorwarninsra_fileg" style="display: none"><strong>Error:</strong> Invalid accession number or sequence file</div>
        </div>
    </div>
<!--    <div class="form-group row">-->
<!--      <label for="email" class="col-sm-2 col-form-label">Email</label>-->
<!--      <div class="col-sm-10">-->
<!--        <input type="text" class="form-control" name="email" id="email" placeholder="Optional">-->
<!--      </div>-->
<!--    </div>-->
    <legend align="center" id="specific_options"><h3>Experiment Options</h3></legend>

    <div class="about-center section-center" align="center">
      <div class="btn-container">
          <div class="col-sm-12" id = "db_buttons" style="display: inline-block;">
              <button type="button" title="Comparative experiments with two conditions " class="btn btn-info dual_search active" name="dual_search" id = "dual" data-id="dual">Comparative Analysis with SRA Run Accessions</button>
              <button type="button" title="Single condition experiment" class="btn btn-info single_search" name="single_search" id = "single" data-id="single">Single Condition Analysis</button>
              <button type="button" title="Upload BAM files" class="btn btn-info bam_search" name="bam_search" id = "bam" data-id="bam">Comparative Analysis by Uploading BAM Files</button>
          </div>
      </div>
    </div>
      <legend align="center" id="warnn2"><h6> Please <strong>DO NOT</strong> use same SRA accession or "bam" file as input </h6></legend>
      <br>
<!--    <div class="form-group row">-->
<!--        <label class="control-label col-md-2" for="seqfile1">Sequence</label>-->
<!--        <div class="col-md-8">-->
<!--            <input type="file" class="form-control" id="sra_file" name="file">-->
<!--                <div class="alert alert-success hidden" id="uploadsuccesssra_file" style="display: none">Upload successful</div>-->
<!--                <div class="alert alert-danger hidden" id="uploadwarningsra_file" style="display: none"><strong>Error:</strong> Upload failed</div>-->
<!--                <div class="alert alert-danger hidden" id="errorwarninsra_fileg" style="display: none"><strong>Error:</strong> Invalid accession number or sequence file</div>-->
<!--        </div>-->
<!--    </div>-->
<!--        <legend align="left" id="warnnsra_file"><h6> Warning: Please only use this option if no accession number available or the genome is not annotated in NCBI </h6></legend>-->
<!--      <br>-->

    <button type="button" name="new_experiment" id= "new_experiment_button" class="btn btn-success btn-xs new_experiment"><span class="glyphicon glyphicon-plus"></span> New Experiment</button>
    <div id="tables" name="tables">
        <div class="table-repsonsive inner_table">
          <table class="table" id="experiment1">
            <thead>
              <tr>
                <th>Condition 1</th>
                <th>Condition 2</th>
                <th><button type="button" name="add_replicate" class="btn btn-success btn-xs add_replicate"> Add Replicate</button></th>
              </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" id="condition_id1_1" name="condition_name1_1" class="form-control condition_name1_1" placeholder="Condition, e.g. Control"> </td>
                <td><input type="text" id="condition_id1_2" name="condition_name1_2" class="form-control condition_name1_2" placeholder="Condition, e.g. Treated"> </td>
            </tr>
            <tr>
                <td class="CellWithComment"><input type="text" id="replicate1_1_1" name="replicate1_1_1" class="form-control replicate1_1" placeholder="SRA/ENA run accession, e.g. SRR9328883"><span class="CellComment">Replicate for condition (e.g. control)</span> </td>
                <td class="CellWithComment"><input type="text" id="replicate1_2_2" name="replicate1_2_2" class="form-control replicate1_2" placeholder="SRA/ENA run accession, e.g. ERR2313908"><span class="CellComment">Replicate for condition (e.g. treated)</span>  </td>
            </tr>
            <tr>
                <td class="CellWithComment"><input type="text" id="replicate1_1_3" name="replicate1_1_3" class="form-control replicate1_3" placeholder="SRA/ENA run accession, e.g. SRR9328883"><span class="CellComment">Replicate for condition (e.g. control)</span>   </td>
                <td class="CellWithComment"><input type="text" id="replicate1_2_4" name="replicate1_2_4" class="form-control replicate1_4" placeholder="SRA/ENA run accession, e.g. ERR2313908"><span class="CellComment">Replicate for condition (e.g. treated)</span>   </td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>

    <div class="row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary submitjob" style="width:300px;" name="submitjob" onclick="$('#loading').show();" id="submitjob">Submit Job &raquo;</button>
      </div>
    </div>
 <div id="loading" style="display:none;"><img src="https://i2.wp.com/codemyui.com/wp-content/uploads/2017/09/rotate-pulsating-loading-animation.gif?fit=880%2C440&ssl=1" alt="" /></div>

  </form>
</body>
</html>
<script>
    $(document).ready(function ()
    {
    var table_count = 1;
    var rep_count = 4;
    var str_table_count = table_count.toString();
    document.getElementById("search_type").value = "dual";
    console.log(str_table_count);
    $(document).on('click', '.single_search', function ()
        {
            document.getElementById("search_type").value = "single";
            $("#new_experiment_button").hide();
            $('#tables div').empty();
            elem_dual = document.getElementById("dual");
            elem_single = document.getElementById("single");
            elem_bam = document.getElementById("bam");
            if (elem_dual.classList.contains("active"))
            {
                elem_dual.classList.remove("active")
            }
            if (!elem_single.classList.contains("active"))
            {
                elem_single.classList.add("active")
            }
            if (elem_bam.classList.contains("active"))
            {
                elem_bam.classList.remove("active")
            }
            var html = '';
            console.log("exp");
            var table_count = 1;
            var rep_count = 1;
            var str_rep_count = rep_count.toString();
            var str_table_count = table_count.toString();
            console.log(str_table_count);
            html +=
                '<div class="table-repsonsive inner_table">' +
                '<table class="table" id="experiment' + str_table_count + '">' +
                '<thead> <tr> <th>Condition</th>'+
                '<th><button type="button" name="add_replicate" class="btn btn-success btn-xs add_replicate">Add Replicate</button></th>'+
                '</tr> </thead> <tbody>' + '<tr>'+
                '<td><input type="text" id="condition_id' + str_table_count + '_1" name="condition_name' + str_table_count + '_1" class="form-control condition_name' + str_table_count + '_1" placeholder="Condition, e.g. Cocultured"> </td>';
            html += '</tr>';
            html +=
                // '</tr>'+
                '<tr>'+
                '<td><input type="text" id="replicate' + str_table_count + '_1' + '_' + str_rep_count + '" name="replicate' + str_table_count + '_1' + '_' + str_rep_count + '" class="form-control replicate' + str_table_count + '_' + str_rep_count + '" placeholder="SRA/ENA run accession, e.g. SRR9328883"> </td>' +
                '</tr>'+
                '</tbody> </table> </div>';
            // '</tr>';

            $(tables).append(html)
        });
    $(document).on('click', '.bam_search', function ()
        {
            $("#new_experiment_button").show();
            document.getElementById("search_type").value = "bam";
            $('#tables div').empty();
            elem_dual = document.getElementById("dual");
            elem_single = document.getElementById("single");
            elem_bam = document.getElementById("bam");
            if (elem_dual.classList.contains("active"))
            {
                elem_dual.classList.remove("active")
            }
            if (elem_single.classList.contains("active"))
            {
                elem_single.classList.remove("active")
            }
            if (!elem_bam.classList.contains("active"))
            {
                elem_bam.classList.add("active")
            }
            var html = '';
            console.log("exp");
            var table_count = 1;
            var rep_count = 4;
            var rep_count2 = rep_count+1;
            var str_rep_count = rep_count.toString();
            var str_rep_count2 = rep_count2.toString();
            var str_table_count = table_count.toString();
            console.log(str_table_count);
            html +=
                '<div class="table-repsonsive inner_table">' +
                '<table class="table" id="experiment' + str_table_count + '">' +
                '<thead> <tr> <th>Condition 1</th> <th>Condition 2</th>'+
                '<th><button type="button" name="add_replicate" class="btn btn-success btn-xs add_replicate">Add Replicate</button></th>'+
                '</tr> </thead> <tbody>' + '<tr>'+
                '<td><input type="text" id="condition_id' + str_table_count + '_1" name="condition_name' + str_table_count + '_1" class="form-control condition_name' + str_table_count + '_1" placeholder="Condition, e.g. Control"> </td>' +
                '<td><input type="text" id="condition_id' + str_table_count + '_2" name="condition_name' + str_table_count + '_2" class="form-control condition_name' + str_table_count + '_2" placeholder="Condition, e.g. Treated"> </td>' ;
            if (table_count >1)
            {
            html += '<th><button type="button" name="remove_experiment" style="background-color: red;border-color: red" class="btn btn-success btn-xs remove_experiment"> Remove Experiment</button></th>'+
                '</tr>';
            }
            else
            {
            html += '</tr>';
            }
            html +=
                // '</tr>'+
                '<tr>'+
                '<td class="CellWithComment"><input type="file" id="replicate' + str_table_count + '_1' + '_' + str_rep_count + '" name="replicate' + str_table_count + '_1' + '_' + str_rep_count + '" class="form-control replicate' + str_table_count + '_' + str_rep_count + '"><span class="CellComment">Replicate for condition (e.g. control)</span>  </td>' +
                '<td class="CellWithComment"><input type="file" id="replicate' + str_table_count + '_2' + '_' + str_rep_count + '" name="replicate' + str_table_count + '_2' + '_' + str_rep_count + '" class="form-control replicate' + str_table_count + '_' + str_rep_count + '"><span class="CellComment">Replicate for condition (e.g. treated)</span>  </td>' +
                '</tr>'+
                '<tr>'+
                '<td class="CellWithComment"><input type="file" id="replicate' + str_table_count + '_1' + '_' + str_rep_count2 + '" name="replicate' + str_table_count + '_1' + '_' + str_rep_count2 + '" class="form-control replicate' + str_table_count + '_' + str_rep_count2 + '"> <span class="CellComment">Replicate for condition (e.g. control)</span> </td>' +
                '<td class="CellWithComment"><input type="file" id="replicate' + str_table_count + '_2' + '_' + str_rep_count2 + '" name="replicate' + str_table_count + '_2' + '_' + str_rep_count2 + '" class="form-control replicate' + str_table_count + '_' + str_rep_count2 + '"><span class="CellComment">Replicate for condition (e.g. treated)</span>  </td>' +
                '</tr>' +
                '</tbody> </table> </div>';
            // '</tr>';

            $(tables).append(html)
        });
    $(document).on('click', '.dual_search', function ()
        {
            $("#new_experiment_button").show();
            document.getElementById("search_type").value = "dual";
            $('#tables div').empty();
            elem_dual = document.getElementById("dual");
            elem_single = document.getElementById("single");
            elem_bam = document.getElementById("bam");
            console.log(elem_dual.classList.contains("active"));
            if (!elem_dual.classList.contains("active"))
            {
                elem_dual.classList.add("active")
            }
            if (elem_single.classList.contains("active"))
            {
                elem_single.classList.remove("active")
            }
            if (elem_bam.classList.contains("active"))
            {
                elem_bam.classList.remove("active")
            }
            var html = '';
            console.log("exp");
            var table_count = 1;
            var rep_count = 4;
            var rep_count2 = rep_count+1;
            var str_rep_count = rep_count.toString();
            var str_rep_count2 = rep_count2.toString();
            var str_table_count = table_count.toString();
            console.log(str_table_count);
            html +=
                '<div class="table-repsonsive inner_table">' +
                '<table class="table" id="experiment' + str_table_count + '">' +
                '<thead> <tr> <th>Condition 1</th> <th>Condition 2</th>'+
                '<th><button type="button" name="add_replicate" class="btn btn-success btn-xs add_replicate">Add Replicate</button></th>'+
                '</tr> </thead> <tbody>' + '<tr>'+
                '<td><input type="text" id="condition_id' + str_table_count + '_1" name="condition_name' + str_table_count + '_1" class="form-control condition_name' + str_table_count + '_1" placeholder="Condition, e.g. Control"> </td>' +
                '<td><input type="text" id="condition_id' + str_table_count + '_2" name="condition_name' + str_table_count + '_2" class="form-control condition_name' + str_table_count + '_2" placeholder="Condition, e.g. Treated"> </td>' ;
            if (table_count >1)
            {
            html += '<th><button type="button" name="remove_experiment" style="background-color: red;border-color: red" class="btn btn-success btn-xs remove_experiment"> Remove Experiment</button></th>'+
                '</tr>';
            }
            else
            {
            html += '</tr>';
            }
            html +=
                // '</tr>'+
                '<tr>'+
                '<td class="CellWithComment"><input type="text" id="replicate' + str_table_count + '_1' + '_' + str_rep_count + '" name="replicate' + str_table_count + '_1' + '_' + str_rep_count + '" class="form-control replicate' + str_table_count + '_' + str_rep_count + '" placeholder="SRA/ENA run accession, e.g. SRR9328883"> <span class="CellComment">Replicate for condition (e.g. control)</span> </td>' +
                '<td class="CellWithComment"><input type="text" id="replicate' + str_table_count + '_2' + '_' + str_rep_count + '" name="replicate' + str_table_count + '_2' + '_' + str_rep_count + '" class="form-control replicate' + str_table_count + '_' + str_rep_count + '" placeholder="SRA/ENA run accession, e.g. ERR2313908"><span class="CellComment">Replicate for condition (e.g. treated)</span>  </td>' +
                '</tr>'+
                '<tr>'+
                '<td class="CellWithComment"><input type="text" id="replicate' + str_table_count + '_1' + '_' + str_rep_count2 + '" name="replicate' + str_table_count + '_1' + '_' + str_rep_count2 + '" class="form-control replicate' + str_table_count + '_' + str_rep_count2 + '" placeholder="SRA/ENA run accession, e.g. SRR9328883"><span class="CellComment">Replicate for condition (e.g. control)</span>  </td>' +
                '<td class="CellWithComment"><input type="text" id="replicate' + str_table_count + '_2' + '_' + str_rep_count2 + '" name="replicate' + str_table_count + '_2' + '_' + str_rep_count2 + '" class="form-control replicate' + str_table_count + '_' + str_rep_count2 + '" placeholder="SRA/ENA run accession, e.g. ERR2313908"> <span class="CellComment">Replicate for condition (e.g. treated)</span> </td>' +
                '</tr>' +
                '</tbody> </table> </div>';
            // '</tr>';

            $(tables).append(html)
            // document.getElementById('tables').innerHTML += html;
        });
        $(document).on('click', '.submitjob', function ()
        {
            document.getElementById('submitjob').disabled = true;
            document.getElementById('form').submit();
        });
            // $('form#form').submit(function(e){
            //     $(this).children('button[type=submit]').attr('disabled', 'disabled');
            //     // // this is just for demonstration
            //     e.preventDefault();
            //     return false;
        $(document).on('click', '.load_example', function ()
        {
            $("#new_experiment_button").show();
            document.getElementById("search_type").value = "dual";
            $('#tables div').empty();
            elem_dual = document.getElementById("dual");
            elem_single = document.getElementById("single");
            elem_bam = document.getElementById("bam");
            console.log(elem_dual.classList.contains("active"));
            if (!elem_dual.classList.contains("active"))
            {
                elem_dual.classList.add("active")
            }
            if (elem_single.classList.contains("active"))
            {
                elem_single.classList.remove("active")
            }
            if (elem_bam.classList.contains("active"))
            {
                elem_bam.classList.remove("active")
            }
            document.getElementById("test").value = "test";
            var html = '';
            $('#tables').empty();
            $("#genome_name").val("Streptomyces coelicolor A3(2)");
            $("#ncbiacc1").val("GCF_000203835.1");
            table_count = 2;
            rep_count = 8;
            html +=
                '<div class="table-repsonsive inner_table">' +
                '<table class="table" id="experiment1">' +
                '<thead> <tr> <th>Condition 1</th> <th>Condition 2</th>'+
                '<th><button type="button" name="add_replicate" class="btn btn-success btn-xs add_replicate">Add Replicate</button></th>'+
                '</tr> </thead> <tbody>' + '<tr>'+
                '<td><input type="text" id="condition_id1_1" name="condition_name1_1" value="single culture" class="form-control condition_name1_1" placeholder="Condition, e.g. Control"> </td>' +
                '<td><input type="text" id="condition_id1_2" name="condition_name1_2" value="coculture" class="form-control condition_name1_2" placeholder="Condition, e.g. Treated"> </td>' ;
            html +=
                // '</tr>'+
                '<tr>'+
                '<td class="CellWithComment"><input type="text" id="replicate1_1_1" name="replicate1_1_1" class="form-control replicate1_1" value="ERR2313920" placeholder="SRA/ENA run accession, e.g. SRR9328883"> <span class="CellComment">Replicate for condition (e.g. single culture)</span> </td>' +
                '<td class="CellWithComment"><input type="text" id="replicate1_2_2" name="replicate1_2_2" class="form-control replicate1_2" value="ERR2313922" placeholder="SRA/ENA run accession, e.g. ERR2313908"> <span class="CellComment">Replicate for condition (e.g. coculture)</span> </td>' +
                '</tr>'+
                '<tr>'+
                '<td class="CellWithComment"><input type="text" id="replicate1_1_3" name="replicate1_1_3" class="form-control replicate1_3" value="ERR2313921" placeholder="SRA/ENA run accession, e.g. SRR9328883"> <span class="CellComment">Replicate for condition (e.g. single culture)</span> </td>' +
                '<td class="CellWithComment"><input type="text" id="replicate1_2_4" name="replicate1_2_4" class="form-control replicate1_4" value="ERR2313923" placeholder="SRA/ENA run accession, e.g. ERR2313908"> <span class="CellComment">Replicate for condition (e.g. coculture)</span> </td>' +
                '</tr>' +
                '</tbody> </table> </div>';
            html +=
                '<div class="table-repsonsive inner_table">' +
                '<table class="table" id="experiment2">' +
                '<thead> <tr> <th>Condition 1</th> <th>Condition 2</th>'+
                '<th><button type="button" name="add_replicate" class="btn btn-success btn-xs add_replicate">Add Replicate</button></th>'+
                '</tr> </thead> <tbody>' + '<tr>'+
                '<td><input type="text" id="condition_id2_1" name="condition_name2_1" value="ctt media" class="form-control condition_name1_1" placeholder="Condition, e.g. Control"> </td>' +
                '<td><input type="text" id="condition_id2_2" name="condition_name2_2" value="r5_solid media" class="form-control condition_name1_2" placeholder="Condition, e.g. Treated"> </td>' +
                '<th><button type="button" name="remove_experiment" style="background-color: red;border-color: red" class="btn btn-success btn-xs remove_experiment"> Remove Experiment</button></th>'+
                '</tr>';
                html +=
                '<tr>'+
                '<td class="CellWithComment"><input type="text" id="replicate2_1_5" name="replicate2_1_5" class="form-control replicate2_1" value="ERR2815177" placeholder="SRA/ENA run accession, e.g. SRR9328883"> <span class="CellComment">Replicate for condition (e.g. ctt media)</span> </td>' +
                '<td class="CellWithComment"><input type="text" id="replicate2_2_6" name="replicate2_2_6" class="form-control replicate2_2" value="ERR2815181" placeholder="SRA/ENA run accession, e.g. ERR2313908"> <span class="CellComment">Replicate for condition (e.g. r5_solid media)</span> </td>' +
                '</tr>'+
                '<tr>'+
                '<td class="CellWithComment"><input type="text" id="replicate2_1_7" name="replicate2_1_7" class="form-control replicate2_3" value="ERR2815178" placeholder="SRA/ENA run accession, e.g. SRR9328883"> <span class="CellComment">Replicate for condition (e.g. ctt media)</span> </td>' +
                '<td class="CellWithComment"><input type="text" id="replicate2_2_8" name="replicate2_2_8" class="form-control replicate2_4" value="ERR2815182" placeholder="SRA/ENA run accession, e.g. ERR2313908"> <span class="CellComment">Replicate for condition (e.g. r5_solid media)</span> </td>' +
                '</tr>' +
                '</tbody> </table> </div>';
            $(tables).append(html)
        });
        $(document).on('click', '.new_experiment', function ()
        {
            search_type = document.getElementById("search_type").value.toString();
            console.log(search_type);
            if (search_type === "dual")
            {
                var html = '';
                console.log("exp");
                table_count += 1;
                rep_count += 1;
                rep_count2 = rep_count+1;
                var str_rep_count = rep_count.toString();
                var str_rep_count2 = rep_count2.toString();
                var str_table_count = table_count.toString();
                console.log(str_table_count);
                html +=
                    '<div class="table-repsonsive inner_table">' +
                    '<table class="table" id="experiment' + str_table_count + '">' +
                    '<thead> <tr> <th>Condition 1</th> <th>Condition 2</th>'+
                    '<th><button type="button" name="add_replicate" class="btn btn-success btn-xs add_replicate">Add Replicate</button></th>'+
                    '</tr> </thead> <tbody>' + '<tr>'+
                    '<td><input type="text" id="condition_id' + str_table_count + '_1" name="condition_name' + str_table_count + '_1" class="form-control condition_name' + str_table_count + '_1" placeholder="Condition, e.g. Control"> </td>' +
                    '<td><input type="text" id="condition_id' + str_table_count + '_2" name="condition_name' + str_table_count + '_2" class="form-control condition_name' + str_table_count + '_2" placeholder="Condition, e.g. Treated"> </td>' ;
                if (table_count >1)
                {
                html += '<th><button type="button" name="remove_experiment" style="background-color: red;border-color: red" class="btn btn-success btn-xs remove_experiment"> Remove Experiment</button></th>'+
                    '</tr>';
                }
                else
                {
                html += '</tr>';
                }
                html +=
                    // '</tr>'+
                    '<tr>'+
                    '<td class="CellWithComment"><input type="text" id="replicate' + str_table_count + '_1' + '_' + str_rep_count + '" name="replicate' + str_table_count + '_1' + '_' + str_rep_count + '" class="form-control replicate' + str_table_count + '_' + str_rep_count + '" placeholder="SRA/ENA run accession, e.g. SRR9328883"> <span class="CellComment">Replicate for condition (e.g. control)</span> </td>' +
                    '<td class="CellWithComment"><input type="text" id="replicate' + str_table_count + '_2' + '_' + str_rep_count + '" name="replicate' + str_table_count + '_2' + '_' + str_rep_count + '" class="form-control replicate' + str_table_count + '_' + str_rep_count + '" placeholder="SRA/ENA run accession, e.g. ERR2313908"> <span class="CellComment">Replicate for condition (e.g. treated)</span> </td>' +
                    '</tr>'+
                    '<tr>'+
                    '<td class="CellWithComment"><input type="text" id="replicate' + str_table_count + '_1' + '_' + str_rep_count2 + '" name="replicate' + str_table_count + '_1' + '_' + str_rep_count2 + '" class="form-control replicate' + str_table_count + '_' + str_rep_count2 + '" placeholder="SRA/ENA run accession, e.g. SRR9328883"><span class="CellComment">Replicate for condition (e.g. control)</span>  </td>' +
                    '<td class="CellWithComment"><input type="text" id="replicate' + str_table_count + '_2' + '_' + str_rep_count2 + '" name="replicate' + str_table_count + '_2' + '_' + str_rep_count2 + '" class="form-control replicate' + str_table_count + '_' + str_rep_count2 + '" placeholder="SRA/ENA run accession, e.g. ERR2313908"> <span class="CellComment">Replicate for condition (e.g. treated)</span> </td>' +
                    '</tr>' +
                    '</tbody> </table> </div>';
                // '</tr>';

                $(tables).append(html)
                // document.getElementById('tables').innerHTML += html;
            }
            if (search_type === "bam")
            {
                var html = '';
                console.log("exp");
                table_count += 1;
                rep_count += 1;
                rep_count2 = rep_count+1;
                var str_rep_count = rep_count.toString();
                var str_rep_count2 = rep_count2.toString();
                var str_table_count = table_count.toString();
                console.log(str_table_count);
                html +=
                    '<div class="table-repsonsive inner_table">' +
                    '<table class="table" id="experiment' + str_table_count + '">' +
                    '<thead> <tr> <th>Condition 1</th> <th>Condition 2</th>'+
                    '<th><button type="button" name="add_replicate" class="btn btn-success btn-xs add_replicate">Add Replicate</button></th>'+
                    '</tr> </thead> <tbody>' + '<tr>'+
                    '<td><input type="text" id="condition_id' + str_table_count + '_1" name="condition_name' + str_table_count + '_1" class="form-control condition_name' + str_table_count + '_1" placeholder="Condition, e.g. Control"> </td>' +
                    '<td><input type="text" id="condition_id' + str_table_count + '_2" name="condition_name' + str_table_count + '_2" class="form-control condition_name' + str_table_count + '_2" placeholder="Condition, e.g. Treated"> </td>' ;
                if (table_count >1)
                {
                html += '<th><button type="button" name="remove_experiment" style="background-color: red;border-color: red" class="btn btn-success btn-xs remove_experiment"> Remove Experiment</button></th>'+
                    '</tr>';
                }
                else
                {
                html += '</tr>';
                }
                html +=
                    // '</tr>'+
                    '<tr>'+
                    '<td class="CellWithComment"><input type="file" id="replicate' + str_table_count + '_1' + '_' + str_rep_count + '" name="replicate' + str_table_count + '_1' + '_' + str_rep_count + '" class="form-control replicate' + str_table_count + '_' + str_rep_count + '" placeholder="SRA/ENA run accession, e.g. SRR9328883"> <span class="CellComment">Replicate for condition (e.g. control)</span> </td>' +
                    '<td class="CellWithComment"><input type="file" id="replicate' + str_table_count + '_2' + '_' + str_rep_count + '" name="replicate' + str_table_count + '_2' + '_' + str_rep_count + '" class="form-control replicate' + str_table_count + '_' + str_rep_count + '" placeholder="SRA/ENA run accession, e.g. ERR2313908"> <span class="CellComment">Replicate for condition (e.g. treated)</span> </td>' +
                    '</tr>'+
                    '<tr>'+
                    '<td class="CellWithComment"><input type="file" id="replicate' + str_table_count + '_1' + '_' + str_rep_count2 + '" name="replicate' + str_table_count + '_1' + '_' + str_rep_count2 + '" class="form-control replicate' + str_table_count + '_' + str_rep_count2 + '" placeholder="SRA/ENA run accession, e.g. SRR9328883"> <span class="CellComment">Replicate for condition (e.g. control)</span> </td>' +
                    '<td class="CellWithComment"><input type="file" id="replicate' + str_table_count + '_2' + '_' + str_rep_count2 + '" name="replicate' + str_table_count + '_2' + '_' + str_rep_count2 + '" class="form-control replicate' + str_table_count + '_' + str_rep_count2 + '" placeholder="SRA/ENA run accession, e.g. ERR2313908"> <span class="CellComment">Replicate for condition (e.g. treated)</span> </td>' +
                    '</tr>' +
                    '</tbody> </table> </div>';
                // '</tr>';

                $(tables).append(html)
                // document.getElementById('tables').innerHTML += html;
            }

        });

        $(document).on('click', '.add_replicate', function ()
        {
            search_type = document.getElementById("search_type").value.toString();
            console.log(search_type);
            if (search_type === "dual")
            {
                rep_count +=1;
                var str_rep_count = rep_count.toString();
                var currenttable = $(this).parent().closest('table');
                console.log(str_table_count);
                console.log($(this).closest('table').attr('id'));
                console.log("after id");
                var str_table_count = $(this).closest('table').attr('id').replace("experiment", "");
                console.log(str_table_count);
                console.log("replicate" + str_table_count + "_" + str_rep_count + "_1");
                html ='<tr>'+
                '<td class="CellWithComment"><input type="text" id="replicate' + str_table_count + '_1' + '_' + str_rep_count + '" name="replicate' + str_table_count + '_1' + '_' + str_rep_count + '" class="form-control replicate' + str_rep_count + '_1" placeholder="SRA/ENA run accession, e.g. SRR9328883"> <span class="CellComment">Replicate for condition (e.g. control)</span> </td>' +
                '<td class="CellWithComment"><input type="text" id="replicate' + str_table_count + '_2' + '_' + str_rep_count + '" name="replicate' + str_table_count + '_2' + '_' + str_rep_count + '" class="form-control replicate' + str_rep_count + '_2" placeholder="SRA/ENA run accession, e.g. ERR2313908"> <span class="CellComment">Replicate for condition (e.g. treated)</span> </td>' +
                '<th><button type="button" name="remove_replicate" style="background-color:red;border-color:red" class="btn btn-success btn-xs remove_replicate"> Remove Replicate</button></th>'+
                '</tr>';
                $(currenttable).append(html);
            }
            if (search_type === "bam")
            {
                rep_count +=1;
                var str_rep_count = rep_count.toString();
                var currenttable = $(this).parent().closest('table');
                console.log(str_table_count);
                console.log($(this).closest('table').attr('id'));
                console.log("after id");
                var str_table_count = $(this).closest('table').attr('id').replace("experiment", "");
                console.log(str_table_count);
                console.log("replicate" + str_table_count + "_" + str_rep_count + "_1");
                html ='<tr>'+
                '<td class="CellWithComment"><input type="file" id="replicate' + str_table_count + '_1' + '_' + str_rep_count + '" name="replicate' + str_table_count + '_1' + '_' + str_rep_count + '" class="form-control replicate' + str_rep_count + '_1" placeholder="SRA/ENA run accession, e.g. SRR9328883"> <span class="CellComment">Replicate for condition (e.g. control)</span> </td>' +
                '<td class="CellWithComment"><input type="file" id="replicate' + str_table_count + '_2' + '_' + str_rep_count + '" name="replicate' + str_table_count + '_2' + '_' + str_rep_count + '" class="form-control replicate' + str_rep_count + '_2" placeholder="SRA/ENA run accession, e.g. ERR2313908"> <span class="CellComment">Replicate for condition (e.g. treated)</span> </td>' +
                '<th><button type="button" name="remove_replicate" style="background-color:red;border-color:red" class="btn btn-success btn-xs remove_replicate"> Remove Replicate</button></th>'+
                '</tr>';
                $(currenttable).append(html);
            }
            if (search_type === "single")
            {
                rep_count +=1;
                var str_rep_count = rep_count.toString();
                var currenttable = $(this).parent().closest('table');
                console.log(str_table_count);
                console.log($(this).closest('table').attr('id'));
                console.log("after id");
                var str_table_count = $(this).closest('table').attr('id').replace("experiment", "");
                console.log(str_table_count);
                console.log("replicate" + str_table_count + "_" + str_rep_count + "_1");
                html ='<tr>'+
                '<td><input type="text" id="replicate' + str_table_count + '_1' + '_' + str_rep_count + '" name="replicate' + str_table_count + '_1' + '_' + str_rep_count + '" class="form-control replicate' + str_rep_count + '_1" placeholder="SRA/ENA run accession, e.g. SRR9328883"> </td>' +
                '<th><button type="button" name="remove_replicate" style="background-color:red;border-color:red" class="btn btn-success btn-xs remove_replicate"> Remove Replicate</button></th>'+
                '</tr>';
                $(currenttable).append(html);
            }

        });
        $(document).on('click', '.remove_experiment', function ()
        {
            // rep_count -=1;
            // table_count -= 1;
            var currenttable = $(this).parent().closest('table');
            $(currenttable).remove()
        });
        $(document).on('click', '.remove_replicate', function ()
        {
            // rep_count -=1;
            // table_count -= 1;
            var currentrow = $(this).closest('tr');
            $(currentrow).remove()
        });
    $(document).on('click', '.load_example_results', function ()
        {
            var url = "https://sema-trap.ziemertlab.com/results/example/antismash_output/index.html";
            console.log(url);
            window.open(url, '_blank');
        });

    setTimeout(function()
    {
    $('#message').fadeOut('fast');
    }, 3000);
    });
</script>
{% endblock content %}