{% extends "layout.html" %}
{% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Download</title>
<!--    <link rel="stylesheet" href="/static/css/styles.css" />-->
  </head>
  <body>
    <div class="container">
        <h2 style="color:black;text-align: center">
            Download&Installation
        </h2>
        <h5>SeMa-Trap is free and open source with no login requirement. Source code can be downloaded below from the git repository: <br><br>
            <a target="_blank" href="https://bitbucket.org/mehmetdirenc/sematrap">https://bitbucket.org/mehmetdirenc/sematrap/</a><br><br>
        </h5>
        <h5>Separate ARTS reference sets can be downloaded from the below links <br><br>
            <a href="https://arts.ziemertlab.com/static/zip_refsets/all_references.zip">Download all reference sets</a><br><br>
        </h5>
	    <div class="section" id="installation">
            <h3 style="text-align: center">Installation guide for SeMa-Trap:</h3>
            <p>
                In order to install SeMa-Trap, first install Anaconda3 described in their <a target="_blank" href="https://docs.anaconda.com/anaconda/install/linux/"> installation page</a>.
            </p>
            <p>
                Afterwards, clone the source code from <a target="_blank" href="https://bitbucket.org/mehmetdirenc/sematrap">bitbucket</a> with below command. This will download all the
                necessary files for web-application and configurations.
            </p>
            <p style="margin-left: 5%;font-family:verdana">
                git clone https://mehmetdirenc@bitbucket.org/mehmetdirenc/sematrap.git
            </p>
            <p>
                Once you have downloaded the repository, find the "sematrap.yml" file which is located in the "static" folder of "sematrap" directory from the repository you cloned from bitbucket. It can also be downloaded
                from <a href="/static/sematrap.yml" download>here</a>.Then, create a conda environment and install all the dependencies used by SeMa-Trap (give the path of the ".yml" file if not
                in the same directory). Simplified code below assumes you have installed anaconda3 and downloaded the repository.
            </p>
            <p style="margin-left: 5%;font-family:verdana">
                                                        For Debian:<br>

                conda env create --file ./sematrap/sematrap/static/sematrap_debian.yml -n sematrap python=3.8.10<br>
                For Macos:<br>
                conda env create --file ./sematrap/sematrap/static/sematrap_macos.yml -n sematrap python=3.8.10<br>
                <b>WARNING: If you are having dependency issues with the commands above, you can use the command below which is OS independent. Although this approach might take hours for conda to resolve such issues.</b><br>
                conda env create --file ./sematrap/sematrap/static/sematrap_from_history.yml -n sematrap python=3.8.10<br>
                ----<br>
                conda activate sematrap<br>
                conda-develop ./sematrap<br>
                export EGGNOG_DATA_DIR=/your/eggnog/data/directory (example: export EGGNOG_DATA_DIR=/home/users/john/data)<br>
                download_eggnog_data.py<br>
                wget https://arts.ziemertlab.com/static/zip_refsets/all_references.zip<br>
                unzip all_references.zip -d ./arts_references<br>
            </p>
            <p>
                Final step is to change the diamond version in your conda environments bin folder. If you're unsure where that is, you can easily find out by typing "which diamond" when you're inside the "sematrap"
                environment which you have activated few steps back. It will print out a path like "/home/john/anaconda3/envs/sematrap/bin/diamond"
            </p>
            <p style="margin-left: 5%;font-family:verdana">
                For Debian:<br>
                cp ./sematrap/sematrap/static/diamond_debian /home/john/anaconda3/envs/sematrap/bin/diamond<br>
                For Macos:<br>
                cp ./sematrap/sematrap/static/diamond_macos /home/john/anaconda3/envs/sematrap/bin/diamond<br>
            </p>
        </div>
    </div>
  </body>
</html>

{% endblock content %}