{% extends "layout.html" %}
{% block content %}
<html lang="en">
<head>
<!--<link rel="stylesheet" href="../static/css/help.css">-->
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="/static/css/sidebar.css" />
</head>
<body>
<br>
<!--<div class="sidenav" style="margin-top: 3.5rem">-->
<!--  <a href="#">Submitting</a>-->
<!--  <a href="#">Input</a>-->
<!--  <a href="#">Output</a>-->
<!--  <a href="#">Contact</a>-->
<!--</div>-->
    <div class="content" style="display: inline-block">
        <div class="row">
<!--            <div class="col-md-12">-->
            <legend id="submit_1" style="text-align: center"><h3><strong>Submission</strong></h3></legend>
             <div class="col-md-6" style="float: left;padding-left: 0">
                <img src="/static/images/gimp_analyze_final.png" style="width: 100%">
             </div>
             <div class="col-md-6 helpnotes" style="width: 100%">
                <ol>
                    <li><h5>General Inputs</h5>
                        <ol>
                            <li>Start by selecting a reference set from dropdown menu. This option should represent the phylum/subphylum of your genome.</li>
                            <li>DO NOT forget to select the library layout of your RNA-seq analysis. </li>
                            <li>If no organism name provided, it will be set as "Unknown organism". </li>
                            <li>You can either give an NCBI accession number or provide a genomic sequence file in fasta or genbank format. However, if it is possible,
                            giving accession numbers are recommended since otherwise a new annotation will take place.</li>
                            <li>If you have clusters that cannot be found by antiSMASH, you can give your own clusters with genes names as their locus tags in a simple .txt file
                            that can be seen <a href="/static/user_cluster_example.txt" download>here</a>. In the example there are two clusters from Streptomyces Coelicolor. Please make sure that the "genes" there are from "locus tag"s.</li>
                            <li>Providing an email address is recommended since your analysis can take some time to process depending on the queue. </li>
                        </ol>
                    </li>
                </ol>
             </div>
        </div>
                                                                                <br>
        <div class="row">
             <div class="col-md-6" style="float: left;padding-left: 0">
                <img src="/static/images/gimp_analyze_2.png" style="width: 100%">
             </div>
             <div class="col-md-6 helpnotes" style="width: 100%">
                <ol start="2">
                    <li><h5>Experiment based Inputs</h5>
                        <ol>
                            <li>First, please select your analysis type. First option (highlighted) will download given SRA accessions and start a comparative SeMa-Trap run.</li>
                            <li>Second option will again take SRA accessions but this time the analysis will be based on only one condition to give pointers on how to design
                                a comparative transcriptomics experiment. </li>
                            <li>Using third option, it is possible to upload "bam" files. However, please be patient when uploading data and DO NOT close the browser since it might take some time
                            depending on your file size.</li>
                            <li> When providing accession numbers or "bam" files, all the data belonging to a condition (e.g. "Control")  should go in to their respective columns. For example, the
                            accession numbers "ERR2313920" and "ERR2313921" belong to the condition "single culture" and numbers "ERR2313922" and "ERR2313923" belong to the condition "coculture".</li>
                            <li>Same mentality applies to uploading "bam" files. For "Single Condition Analysis" you only have one condition and the replicates belong to it.</li>
                            <li><strong>WARNING! </strong>When providing another experiment, please use unique condition name if the sequencing data comes from another source and is unique.
                            SeMa-Trap compares conditions and experiments with each other, therefore it is important to use unique names for different datasets. On server, the analysis is limited to 6 experiments.</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
                                                                                        <br>
        <div class="row">
            <legend id="result_1" style="text-align: center"><h3><strong>Results</strong></h3></legend>
             <div class="col-md-12" style="float: left;padding-left: 0">
                <h3 style="text-align: center">Overview of detected BGCs</h3>
                <img src="/static/images/overview_2.png" style="width: 100%">
             </div>
              <div class="col-md-12">
                  <div class="text">
                      <p>
                        In the overview page, you will find expression information of detected BGCs based on your RNA-seq experiments. Overview
                        can be sorted by the selected column title e.g. "Average fold change..."
                        <ol>
                            <li>"Region" column denotes the region numbers given by antiSMASH.</li>
                            <li>"BGC name" column denotes a similar (if similarity is detected by antiSMASH) BGC defined in <a target="_blank" rel="noopener noreferrer" href="https://mibig.secondarymetabolites.org/">MiBIG</a>.</li>
                            <li>Third column is the overview of genes residing in the BGC, pretty self-explanatory.</li>
                            <li>Average fold change column simply shows a summary of the fold change (calculated from core biosynthetic genes)
                            between conditions for each experiment for the respective BGC.</li>
                            <li>Final column is a simple representation of the BGCs expression level, compared to specific references:
                                <ol>
                                    <li>
                                        "Housekeeping genes": Mean value of expression levels (TPMs) of all the housekeeping genes detected in the genome
                                    </li>
                                    <li>
                                        "Non housekeeping genes": Mean value of expression levels (TPMs) of all the non housekeeping genes detected in the genome
                                    </li>
                                    <li>
                                        "Mean expression": Mean value of expression levels (TPMs) of all the genes in the genome.
                                    </li>
                                </ol>
                            </li>
                        </ol>
                      </p>
<!--                    <p style="text-align:center"><strong>1- </strong>Using "Summary Results" option, it is possible to do an initial filtering of genomes with specific characteristics.-->
<!--                        As seen in example above, we have limited genomes which have at least 100 core genes and 2 different BGCS, "thermo" in their phylum name and minimum amount-->
<!--                        of 2 targets that have +3 fundamental ARTS hits, 10 targets which are in proximity of a BGC. </p>-->
<!--                     <p style="text-align:center">   <strong>2- </strong>Individual ARTS results can be accessed through links in "Assembly id"-->
<!--                        column for further and closer inspection.-->
<!--                    </p>-->
                  </div>
              </div>
        </div>                                                                     <br>
<!--        <div class="row">-->
<!--              <div class="col-md-12" style="float: left;padding-left: 0">-->
<!--                 <h3 style="text-align: center">Single BGC overview</h3>-->
<!--                 <img src="/static/images/overview_bgc.png" style="width: 100%">-->
<!--              </div>-->
<!--              <div class="col-md-12">-->
<!--                  <div class="text">-->
<!--                      <p>-->
<!--                        In the overview page, you will find expression information of detected BGCs based on your RNA-seq experiments. Overview-->
<!--                        can be sorted by the selected column title e.g. "Average fold change..."-->
<!--                      </p>-->
<!--                  </div>-->
<!--              </div>-->
<!--        </div>-->
        <div class="row">
          <div class="col-md-12" style="float: left;padding-left: 0">
             <h3 style="text-align: center">Single BGC overview</h3>
             <img src="/static/images/overview_bgc.png" style="width: 100%">
          </div>
          <div class="col-md-12">
              <div class="text">
                  <p>
                    If the button left of the "Region" column is clicked, there will be an overview of a single BGC in terms of the expressions
                      and fold changes of all the genes inside the cluster, per experiment. Genes marked inside black boxes are the "core biosynthetic" genes
                      defined by antiSMASH.
                  </p>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="float: left;padding-left: 0">
             <h3 style="text-align: center">View BGC expression in detail</h3>
             <img src="/static/images/detail_bgc_1.png" style="width: 100%">
          </div>
          <div class="col-md-12">
              <div class="text">
                  <p>
                    Once the "ANALYZE IN DETAIL" button is clicked for a BGC in the overview page, you will be directed to BGC specific results.
                      At the top part, the settings for visualization can be found. In detail, you can view "Fold changes" or "Normalized expression" (TPM)
                      values in selected experiments and search for specific KEGG terms throughout the genome or cluster. "Secondary Metabolism Specific"
                      KEGG terms describes genes which are also annotated in "biosynthesis of secondary metabolites" or "biosynthesis of antibiotics"
                      pathways ("ko01130", "ko01110").
                  </p>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="float: left;padding-left: 0">
             <img src="/static/images/detail_bgc_2.png" style="width: 100%">
          </div>
          <div class="col-md-12">
              <div class="text">
                  <p>
                      Second part of detailed BGC analysis involves the visualization of the expression/fold-change of selected BGC and selected genes from KEGG or other sources in the page.
                      Here you can search by genes and their neighbouring genes by "gene id" or clicking specific genes from the tables shown in the bottom part of the page.
                  </p>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="float: left;padding-left: 0">
             <img src="/static/images/detail_bgc_3.png" style="width: 100%">
          </div>
          <div class="col-md-12">
              <div class="text">
                  <p>
                      Finally, you can explore the genes that have co-regulated the most with your BGC of interest based on your experiments.
                      At the top part you can select functional annotation of the genes that are mostly responsible for BGC expression such as
                      "Transport", "Regulation", "Resistance genes". Since we have selected (seen two images above) to view the "drug exporter"
                      genes, such functionally annotated genes are highlighted. Concordant regulation means that the gene and the BGC have the
                      same expression change direction e.g. both are over-expressed/under-expressed. Discordant denotes that the expression changes
                      are reversely correlated e.g. a specific repressor is under-expressed and the BGC is over-expressed. The "SCO6666" gene is shown
                      to be regulating "actinorhodin" expression by <a target="_blank" rel="noopener noreferrer"
                                                                       href="https://www.nature.com/articles/s41396-020-0594-6">Lee, N., Kim, W., Chung, J. et al.</a>
                  </p>
              </div>
          </div>
        </div>
    </div>
<!--            <div class="row">-->
<!--              <div class="col-md-12">-->
<!--&lt;!&ndash;                  <legend id="Extra_example_1"><h3><strong>-Further Examples-</strong></h3></legend>&ndash;&gt;-->
<!--                  <div class="col-md-6">-->
<!--                      <img src="/static/images/overview_2.png">-->
<!--                  </div>-->
<!--                  <div class="col-md-12">-->
<!--                      <div class="text" style="text-align: center">-->
<!--                        <h3>Shaping your search</h3>-->
<!--                        <p style="text-align:center"><strong>1- </strong>Using "Summary Results" option, it is possible to do an initial filtering of genomes with specific characteristics.-->
<!--                            As seen in example above, we have limited genomes which have at least 100 core genes and 2 different BGCS, "thermo" in their phylum name and minimum amount-->
<!--                            of 2 targets that have +3 fundamental ARTS hits, 10 targets which are in proximity of a BGC. </p>-->
<!--                         <p style="text-align:center">   <strong>2- </strong>Individual ARTS results can be accessed through links in "Assembly id"-->
<!--                            column for further and closer inspection.-->
<!--                        </p>-->
<!--                      </div>-->
<!--                  </div>-->
<!--              </div>-->
<!--        </div>         -->
        <br>
</body>
</html>
{% endblock content %}