{% extends "layout.html" %}
{% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <section class="section">
      <div class="title" style="text-align: center">
       <h3>Secondary Metabolite Transcriptomic Pipeline </h3>
      </div>
      <div class="about-center section-center">
        <figure>
          <img src="/static/images/sema-trap_home_img.jpg" alt=""/>
        </figure>
        <article class="about">
          <div class="about-content" style="width: 550px">
              <div class="content active" id="history">
                <p>
                  Sema-Trap is an analysis web-server/standaolne tool for efficient prioritization of experiment design and target genes that can be used to over-express or activate biosynthetic gene clusters.
                </p>
                <p>
                  Using SeMa-Trap, researchers can:
                    <ol>
                        <li style="margin-left: 40px">Select experimental design based on BGC expression. To that aim, users can supply SRA run accession numbers from single condition experiment (e.g. control or treated)
                        and check whether their BGC of interest is expressed based on housekeeping genes expression. Afterwards, a full scale comparative transcriptomic experiment can be designed.</li>
                        <li style="margin-left: 40px">Prioritize target genes for BGC over expression. For this purpose, a comparative experiment analysis can be made. Researchers can supply SeMa-Trap with either SRA run accession numbers or already analyzed&sorted "BAM" files.
                          Afterwards, SeMa-Trap will return an overview page of the expressions of BGCs with respect to the provided experimental data. If there's an interesting BGC in terms of expression and fold change,
                          an interactive result page for each BGC can be explored with specific target genes whose expression changes are connected to BGCs of interest.
                        </li>
                    </ol>
                </p>
                <p>
                  SeMa-Trap is freely available to all users and there is no login requirement.
                  The code is open source, licensed under the GPLv3 and stored through <a target="_blank" rel="noopener noreferrer" href="https://bitbucket.org/mehmetdirenc/sematrap">bitbucket</a>.
                  All third-party applications included are unrestrictive and free to use.
                </p>
            </div>
          </div>
        </article>
      </div>
    </section>
  </body>
</html>

{% endblock content %}