<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% if title %}
        <title> sema-trap - {{ title }}</title>
    {% else %}
        <title> sema-trap</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">SeMa-Trap:Secondary Metabolite Transcriptomic Pipeline</a>
                    </li>
                </ul>
            </div>
            <div class="mx-auto order-0">
                <a class="navbar-brand mx-auto" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/analyze">Analyze</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/results">Results</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/download">Download</a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="/about">About</a>-->
<!--                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Help</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main style="text-align: start" role="main" class="container">
      <div class="row" id="dummy">
        <div class="col-md-12" id="dummy2">
          {% block content %}{% endblock %}
        </div>
      </div>
      <div class="container">
          {% for message in get_flashed_messages() %}
           <div id="message" class="alert alert-warning">
               <button type="button" class="close" data-dismiss="alert">&times;</button>
               {{ message }}
           </div>
           {% endfor %}
           {% block page_content %}{% endblock %}
      </div>
        <br>

      <footer class="footer_tu" style="display:inline-block;">
        <img src="/static/images/unituebingen.png" style="display:inline-block;height:75px;padding-right: 50px"><img src="/static/images/dzif.png" style="display:inline-block;height:75px;padding-left: 50px">
      </footer>
<!--            <footer class="footer_tu" style="display:inline-block;">-->
<!--                <br>-->
<!--        <img src="/static/images/arts_db_logo.png" style="display:inline-block;height:75px;margin-right:100px;">-->
<!--                <img src="/static/images/unituebingen.png" style="display:inline-block;height:75px;margin-right:100px;">-->
<!--                <img src="/static/images/dzif.png" style="display:inline-block;height:75px;margin-right:100px;">-->
<!--    </footer>-->
    </main>
<!--    &lt;!&ndash; Optional JavaScript &ndash;&gt;-->
<!--    &lt;!&ndash; jQuery first, then Popper.js, then Bootstrap JS &ndash;&gt;-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.6/ui-bootstrap.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.6/ui-bootstrap-tpls.min.js"></script>-->
<!--    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>-->

</body>
</html>
