{% extends "layout.html" %}
{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!--    <script src="/transcriptomics/static/js/analysispage.js?v=2.1"></script>-->
    <title>Title</title>
</head>
<body>

<br><br><br><br><br>
    <div class="container">
        <div class="container">
    <div class="form-group row">
	<div class="col-sm-2">
          <h4>View Job</h4>
      </div>
        <div class="col-sm-6">
        <input type="text" class="form-control" id="jobid" name="jobid" placeholder="aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee">
      </div>
      <div class="col-sm-2">
        <button class="btn btn-info viewbtn"  name="viewbtn" id = "viewbtn">View Report</button>
      </div>
    </div>


            </div>
        </div>

</body>
</html>
<script>
    $(document).ready(function ()
    {
        $(document).on('click', '.viewbtn', function ()
        {
            var job_id = $("#jobid").val();
            var url = "//localhost:8000/results/"+job_id;
            console.log(url);
            $(location).prop('href', url);
        });
    });
// $("#viewbtn").click(function(e){
//     e.preventDefault();
//     url = $("#jobid").val();
//     window.location.href = "https://sema-trap.ziemertlab.com/results/"+url;
//     return false;
// });
// $('[data-toggle="tooltip"]').tooltip();
</script>


{% endblock content %}