{% extends "layout.html" %}
{% block content %}
<html>
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      {% if refresh %}
        <meta http-equiv="refresh" content="5">
      {% endif %}
<!--        <link rel="stylesheet" href="app.cs"/>-->
    </head>
    <body>
    <input type='hidden' name='test' id='test' value="{{ result }}">
    <input type='hidden' name='exp' id='exp' value="{{ experiment }}">
    <input type='hidden' name='jobid' id='jobid' value="{{ job_id }}">
    <div class="container">
        <h1 id="step_prog"></h1>
        <div id="stepProgressBar" style="display: flex;width: 1000px;justify-content: space-between;align-items: flex-end">
            <div class="step">
                <p class="step-text" id="queued">
                    queued
                </p>
            </div>
            <div class="step">
                <p class="step-text" id="Running antiSMASH">
                    Running antiSMASH
                </p>
            </div>
            <div class="step">
                <p class="step-text" id="Downloading fastq files">
                    Downloading reads
                </p>
            </div>
            <div class="step">
                <p class="step-text" id="Running hmmsearch">
                    Running hmmsearch
                </p>
            </div>
            <div class="step">
                <p class="step-text" id="Running emapper">
                    Running emapper
                </p>
            </div>
            <div class="step">
                <p class="step-text" id="Indexing">
                    Trimming
                </p>
            </div>
            <div class="step">
                <p class="step-text" id="Map&Sort">
                    Map&Sort
                </p>
            </div>
            <div class="step">
                <p class="step-text" id="Running FeatureCounts">
                    Running FeatureCounts
                </p>
            </div>
            <div class="step">
                <p class="step-text" id="Generating Final Results">
                    Generating Final Results
                </p>
            </div>
        </div>
      <div class="col-sm-2">
        <button class="btn btn-info viewbtn" style="display: none" name="viewbtn" id = "viewbtn">View Results</button>
      </div>
        <br>
        <div id="main">

        </div>
    </div>

    </body>
</html>
<script>
    $(document).ready(function ()
    {
        var step = "";
        step = document.getElementById("test").value;
        var exp = "";
        exp = document.getElementById("exp").value;
        console.log(step);
        console.log(exp);
        $("#step_prog").text(exp);
        if (step == "failed")
            {
                $("#step_prog").text("Job failed, please contact admin for more information");
            }
        if (step == "queued")
            {
                document.getElementById("queued").style.color = "#28a745";
            }
        else if (step == "Running antismash")
            {
                document.getElementById("queued").style.color = "#28a745";
                document.getElementById("Running antiSMASH").style.color = "#28a745";
            }
        else if (step == "Downloading fastq files")
            {
                document.getElementById("queued").style.color = "#28a745";
                document.getElementById("Running antiSMASH").style.color = "#28a745";
                document.getElementById("Downloading fastq files").style.color = "#28a745";
            }
        else if (step == "Running hmmsearch")
            {
                document.getElementById("queued").style.color = "#28a745";
                document.getElementById("Running antiSMASH").style.color = "#28a745";
                document.getElementById("downloading fastq").style.color = "#28a745";
                document.getElementById("Running hmmsearch").style.color = "#28a745";
            }
        else if (step == "Running emapper")
            {
                document.getElementById("queued").style.color = "#28a745";
                document.getElementById("Running antiSMASH").style.color = "#28a745";
                document.getElementById("downloading fastq").style.color = "#28a745";
                document.getElementById("Running hmmsearch").style.color = "#28a745";
                document.getElementById("Running emapper").style.color = "#28a745";
            }
        else if (step == "Indexing")
            {
                document.getElementById("queued").style.color = "#28a745";
                document.getElementById("started").style.color = "#28a745";
                document.getElementById("Running hmmsearch").style.color = "#28a745";
                document.getElementById("Running emapper").style.color = "#28a745";
                document.getElementById("Indexing").style.color = "#28a745";
            }
        else if (step == "Map&Sort")
            {
                document.getElementById("queued").style.color = "#28a745";
                document.getElementById("Running antiSMASH").style.color = "#28a745";
                document.getElementById("downloading fastq").style.color = "#28a745";
                document.getElementById("Running hmmsearch").style.color = "#28a745";
                document.getElementById("Running emapper").style.color = "#28a745";
                document.getElementById("Indexing").style.color = "#28a745";
                document.getElementById("Map&Sort").style.color = "#28a745";
            }
        else if (step == "Running FeatureCounts")
            {
                document.getElementById("queued").style.color = "#28a745";
                document.getElementById("Running antiSMASH").style.color = "#28a745";
                document.getElementById("downloading fastq").style.color = "#28a745";
                document.getElementById("Running hmmsearch").style.color = "#28a745";
                document.getElementById("Running emapper").style.color = "#28a745";
                document.getElementById("Indexing").style.color = "#28a745";
                document.getElementById("Map&Sort").style.color = "#28a745";
                document.getElementById("Running FeatureCounts").style.color = "#28a745";
            }
        else if (step == "Generating Final Results")
        {
                document.getElementById("queued").style.color = "#28a745";
                document.getElementById("Running antiSMASH").style.color = "#28a745";
                document.getElementById("downloading fastq").style.color = "#28a745";
                document.getElementById("Running hmmsearch").style.color = "#28a745";
                document.getElementById("Running emapper").style.color = "#28a745";
                document.getElementById("Indexing").style.color = "#28a745";
                document.getElementById("Map&Sort").style.color = "#28a745";
                document.getElementById("Running FeatureCounts").style.color = "#28a745";
                document.getElementById("Generating Final Results").style.color = "#28a745";
            }
        else if (step == "finished")
            {
                document.getElementById("queued").style.color = "#28a745";
                document.getElementById("Running antiSMASH").style.color = "#28a745";
                document.getElementById("downloading fastq").style.color = "#28a745";
                document.getElementById("Running hmmsearch").style.color = "#28a745";
                document.getElementById("Running emapper").style.color = "#28a745";
                document.getElementById("Indexing").style.color = "#28a745";
                document.getElementById("Map&Sort").style.color = "#28a745";
                document.getElementById("Running FeatureCounts").style.color = "#28a745";
                document.getElementById("Generating Final Results").style.color = "#28a745";
                document.getElementById("viewbtn").style.display = "block";
                $("#step_prog").text("Job Finished Succesfully");
            }
    $(document).on('click', '.viewbtn', function ()
        {
            var job_id = $("#jobid").val();
            var url = "https://sema-trap.ziemertlab.com/results/"+job_id +"/antismash_output/index.html";
            console.log(url);
            window.open(url, '_blank');
            // $(location).prop('href', url);
        });
    });

</script>
{% endblock content %}