{% extends "layout.html" %}
{% block content %}
<html>
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      {% if refresh %}
        <meta http-equiv="refresh" content="6">
      {% endif %}
        <link rel="stylesheet" href="/static/css/show_results.css" />
    <title>Pipeline</title>
    <style>
        .loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
<!--        <link rel="stylesheet" href="app.cs"/>-->
    </head>
    <body>
<br>
        <h1 id="step_prog"> {{exp}}</h1>
    <svg id="container"/>
    <div class="loader" id="loader"></div>
      <div class="col-sm-2">
        <button class="btn btn-info viewbtn" style="display: none" name="viewbtn" id = "viewbtn">View Results</button>
      </div>
    <input type='hidden' name='test' id='test' value="{{ result }}">
    <input type='hidden' name='exp' id='exp' value="{{ experiment }}">
    <input type='hidden' name='jobid' id='jobid' value="{{ job_id }}">
    </body>

</html>
<script>
    $(document).ready(function ()
    {
    const svgns = "http://www.w3.org/2000/svg";
    const height = 50;
    const steps = ["queued", "Running Antismash", "Downloading fastq files", "Running HMMSearch",  "Running emapper", "Trimming", "Map&Sort", "Running FeatureCounts", "Generating Final Results"];
    var active = document.getElementById("test").value;
    const svg = document.getElementById('container');
    console.log(active)
    if (active == "failed")
        {
            $(".loader").removeClass("loader");
            $("#step_prog").text("Job failed, please contact admin for more information");
        }
    else if(active == "finished")
        {
            $("div").removeClass("loader");
            document.getElementById("viewbtn").style.display = "block";
            $("#step_prog").text("Job Finished Succesfully");
        }
    else
        {
        let currX = 0;
        steps.forEach((step, i) => {
            if (step.length < 10){
                var totalWidth = step.length * 14;
            }
            else{
                var totalWidth = step.length * 10;
            }
            let opacity = 0.5;
            console.log(step);
            console.log(active);
            if (active === step) {
                opacity = 1;
            }
            const polygon = document.createElementNS(svgns, 'polygon');
            const text = document.createElementNS(svgns, 'text');
            polygon.setAttributeNS(null, 'fill', 'blue');
            polygon.setAttributeNS(null, 'stroke', 'white');
            polygon.setAttributeNS(null, 'opacity', opacity);
            text.setAttributeNS(null, 'fill', 'white');
            text.setAttributeNS(null, 'x', height / 2 + 10);
            text.setAttributeNS(null, 'y', (height + 12) / 2);
            text.innerHTML = step;
            if (i === 0) {
                polygon.setAttributeNS(null, 'points', "0,0 0," + height + " " + totalWidth + "," + height + " " + (totalWidth + 0.5 * height) + "," + (0.5 * height) + " " + totalWidth + ",0");

            } else {
                polygon.setAttributeNS(null, 'points', "0," + height + " " + (0.5 * height) + "," + (0.5 * height) + " 0,0 " + totalWidth + ",0 " + (totalWidth + 0.5 * height) + "," + (0.5 * height) + " " + totalWidth + "," + height);
            }
            const group = document.createElementNS(svgns, 'g');
            group.setAttributeNS(null, 'transform', "translate(" + currX + ",0)");
            group.appendChild(polygon);
            group.appendChild(text);
            svg.appendChild(group);
            currX += totalWidth;
        });
        svg.setAttributeNS(null, 'width', currX + 0.5 * height)
        }
    $(document).on('click', '.viewbtn', function ()
        {
            var job_id = $("#jobid").val();
            var url = "https://sema-trap.ziemertlab.com/results/"+job_id +"/antismash_output/index.html";
            console.log(url);
            window.open(url, '_blank');
        });
    });
</script>
{% endblock content %}