/*
 * # Copyright (C) 2021,2022 Mehmet Direnc Mungan
 * # University of Tuebingen
 * # Interfaculty Institute of Microbiology and Infection Medicine
 * # Lab of Nadine Ziemert, Div. of Microbiology/Biotechnology
 * # Funding by the German Centre for Infection Research (DZIF)
 * #
 * # This file is part of SeMa-Trap
 * # SeMa-Trap is free software. you can redistribute it and/or modify
 * # it under the terms of the GNU General Public License as published by
 * # the Free Software Foundation, either version 3 of the License, or
 * # (at your option) any later version.
 * #
 * #This program is distributed in the hope that it will be useful,
 *  #but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  #MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  #GNU General Public License for more details.
 *
 * # License: You should have received a copy of the GNU General Public License v3 with SeMa-Trap
 * # A copy of the GPLv3 can also be found at: <http://www.gnu.org/licenses/>.
 */

        .CellWithComment{position:relative;}

        .CellComment
        {
            visibility: hidden;
            width: auto;
            position:absolute;
            z-index:100;
            text-align: Left;
            opacity: 0.4;
            transition: opacity 2s;
            border-radius: 6px;
            background-color: black;
            color: white;
            padding:3px;
            top:-30px;
            left:0px;
        }
        .CellWithComment:hover span.CellComment {visibility: visible;opacity: 1;}
